body {
    background-color: #fafafa;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100vh;
    width: 100%;
}

.uk-notification-message-success {
    text-align: center;
    background: #E8F8E8;
    color: #14B614;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    font-size: 15px;
    border-radius: 16px;
}
.uk-notification-message-danger {
    text-align: center;
    background: #fef4f6;
    color: #f0506e;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    font-size: 15px;
    border-radius: 16px;
}
.uk-notification-message-primary {
    text-align: center;
    background: #d8eafc;
    color: #1e87f0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    font-size: 15px;
    border-radius: 16px;
}

.uk-button {
    text-transform: none;
    border-radius: 8px;
}

.codedoct-card {
    border-radius: 10px;
    box-shadow: 0 2px 20px #00000014;
}
